.emma {
    font-size: 30px !important;
    font-family: 'Quicksand', sans-serif !important;
}
.emma:hover {
    text-decoration: none;
    color: black;
}
h1,
h3 {
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
}
h3 {
    color: #4c7e8f;
}
nav, 
h2 {
    font-size: 21px;
    font-family: 'Quicksand', sans-serif;
}
header a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}
header a:hover {
    text-decoration: none;
    color: #4c7e8f;
    transition: 0.3s ease;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.about {
    background-color:#8ac7db;
    border-radius: 0%;   
}
.contact {
    background-color: #4c7e8f;
    border-radius: 0%;  
}
.contact p {
    text-align: center;
}
footer {
    background-color: #8ac7db;
    border-radius: 0%;
}
.resume {
    color: black;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    transition: 0.5s ease;
}
.resume:hover {
    text-decoration: none;
    color: #4c7e8f;
    transition: 0.5s ease;
}
.back {
    padding-left: 20px;
}
.link {
    padding: 0 20px 0 20px;
}
.fa {
    color: black;
    padding: 0 10px 0 10px;
    transition: 0.5s ease;
}
.fa-linkedin:hover {
    color: #4c7e8f;
    transition: 0.5s ease;
}
.fa-instagram:hover {
    color: #4c7e8f;
    transition: 0.5s ease;
}
.fa-youtube-play:hover {
    color: #4c7e8f;
    transition: 0.5s ease;
}
.fa-envelope:hover {
    color:  #8ac7db;
    transition: 0.5s ease;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
